.cls-1,
.cls-10,
.cls-11,
.cls-2,
.cls-5,
.cls-7,
.cls-9,
.drehschrank-7 {
    fill: none;
    transform-origin: 545.73px 505.05px;
}

.cls-1 {
    clip-rule: evenodd;
}

.cls-2 {
    fill-rule: evenodd;
}

.cls-3 {
    font-size: 4px;
    fill: #fff;
    font-family: ArialMT, Arial;
}

.cls-4 {
    clip-path: url(#clip-path);
}

.cls-10,
.cls-11,
.cls-5,
.cls-7,
.cls-8,
.cls-9,
.drehschrank-7,
.drehschrank-8,
.drehschrank-9 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 545.73px 505.05px;
}

.cls-8,
.drehschrank-8 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-5 {
    stroke-width: 0.51px;
}

.cls-6,
.drehschrank-6 {
    clip-path: url(#clip-path-2);
    transform-origin: 545.73px 505.05px;
}

.cls-7,
.drehschrank-7 {
    stroke-width: 0.09px;
    transform-origin: 545.73px 505.05px;
}

.cls-8,
.drehschrank-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    transform-origin: 545.73px 505.05px;
}

.cls-9,
.drehschrank-9 {
    stroke-width: 0.28px;
    transform-origin: 545.73px 505.05px;
}

.cls-10 {
    stroke-width: 0;
}

.cls-11 {
    stroke-width: 0.09px;
}

.cls-12 {
    clip-path: url(#clip-path-205);
}

.H_Putz_cyr-7 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.09px;
    transform-origin: 545.73px 505.05px;
}

.H_Putz_cyr-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    fill: none;
    stroke-width: 0.37px;
    transform-origin: 545.73px 505.05px;
}

.H_Graderobe_cyr-7 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.09px;
    transform-origin: 545.73px 505.05px;
}

.H_Graderobe_cyr-8 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.37px;
    transform-origin: 545.73px 505.05px;
}

.H_Tuer_Str-7 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.09px;
    transform-origin: 546.38px 572.51px;
}

.H_Tuer_Str-8 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.37px;
    transform-origin: 546.38px 572.51px;
}

.B_Tuer_Str-7 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.09px;
    transform-origin: 555.22px 279.94px;
}

.B_Tuer_Str-8 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.37px;
    transform-origin: 555.22px 279.94px;
}

.B_Tuer_Str-9 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.28px;
    transform-origin: 555.22px 279.94px;
}

.B_Schrank_cyr-8 {
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-width: 0.37px;
    transform-origin: 545.43px 232.77px;
}

.B_Tuer_Str-6 {
    clip-path: url(#clip-path-2);
    transform-origin: 555.22px 279.94px;
}

.K_Fen_Oben_Str-6 {
    clip-path: url(#clip-path-2);
    transform-origin: 235.9px 579.25px;
}

.K_Fen_Oben_Str-7 {
    stroke-width: 0.09px;
    stroke: #000000;
    transform-origin: 235.9px 579.25px;
}

.K_Fen_Oben_Str-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 235.9px 579.25px;
}

.K_Fen_Oben_Str-9 {
    stroke-width: 0.28px;
    stroke: #000000;
    transform-origin: 235.9px 579.25px;
}

.K_Fen_Unten_Str-6,
.S_Fen_Unten_Str-6,
.S_Schub_Kueche_cyr-6,
.S_Schub_Wand_cyr-6 {
    clip-path: url(#clip-path-2);
}

.K_Fen_Unten_Str-7,
.S_Fen_Unten_Str-7,
.S_Boden_Kueche-7,
.S_Schub_Wand_cyr-7,
.S_Schub_Kueche_cyr-7,
.W_Schub_Bad_cyr,
.W_Schub_Wand_cyr,
.W_Schub_Bad_cyr-7,
.W_Schub_Wand_cyr-7 {
    stroke-width: 0.09px;
    stroke: #000000;
}

.K_Fen_Unten_Str-8,
.S_Fen_Unten_Str-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
}

.K_Fen_Unten_Str-9,
.S_Fen_Unten_Str-9 {
    stroke-width: 0.28px;
    stroke: #000000;
}

.S_Fen_Oben_Str-6 {
    clip-path: url(#clip-path-2);
    transform-origin: 205.25px 432.43px;
}

.S_Fen_Oben_Str-7 {
    stroke-width: 0.09px;
    stroke: #000000;
    transform-origin: 205.25px 432.43px;
}

.S_Fen_Oben_Str-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 205.25px 432.43px;
}

.S_Fen_Oben_Str-9 {
    stroke-width: 0.28px;
    stroke: #000000;
    transform-origin: 205.25px 432.43px;
}

.W_Fen_Bad_Str-6 {
    clip-path: url(#clip-path-2);
    transform-origin: 892.4px 331.12px;
}

.W_Fen_Bad_Str-7 {
    stroke-width: 0.09px;
    stroke: #000000;
    transform-origin: 892.4px 331.12px;
}

.W_Fen_Bad_Str-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 892.4px 331.12px;
}

.W_Fen_Bad_Str-9 {
    stroke-width: 0.28px;
    stroke: #000000;
    transform-origin: 892.4px 331.12px;
}

.W_Fen_Wand_Str-6 {
    clip-path: url(#clip-path-2);
    transform-origin: 921.5px 470.48px;
}

.W_Fen_Wand_Str-7 {
    stroke-width: 0.09px;
    stroke: #000000;
    transform-origin: 921.5px 470.48px;
}

.W_Fen_Wand_Str-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 921.5px 470.48px;
}

.W_Fen_Wand_Str-9 {
    stroke-width: 0.28px;
    stroke: #000000;
    transform-origin: 921.5px 470.48px;
}

.W_Schub_Wand_cyr-6,
.W_Schub_Bad_cyr-6 {
    stroke: #000000;
    clip-path: url(#clip-path-2);
}

.S_Schub_Wand_cyr,
.W_Schub_Bad_cyr,
.W_Schub_Wand_cyr,
.S_Schub_Kueche_cyr {
    fill: lightgray;
    opacity: 0.5;
    stroke-width: 0.09px;
    stroke: #000000;
}

.S_Schub {
    fill: white;
    stroke: white
}

.S_Boden_Wand_cyr,
.W_Boden_Wand_cyr,
.W_Boden_Bad_cyr,
.S_Boden_Kueche_cyr {
    opacity: 0.2;
    fill: white
}

.K_Schrank_Oben_01_cyr-8 {
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 253.06px 459.03px;
}

.K_Schrank_Oben_02_cyr-8 {
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 287.07px 459.03px;
}

.K_Schrank_Oben_03_cyr-8 {
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 346.66px 459.03px;
}

.K_Schrank_Oben_04_cyr-8 {
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 346.66px 459.03px;
}

.K_Schrank_Oben_05_cyr-8 {
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.37px;
    stroke: #000000;
    transform-origin: 414.63px 459.03px;
}

.K_Kuehl_cyr-7 {
    fill: none;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    transform-origin: 251.92px 475.75px;
}

.K_Abfall_cyr-8 {
    fill: none;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Wasch_Str-8 {
    fill: white;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Wasch_Str-8_hebel {
    fill: none;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Ofen_Str-8 {
    fill: white;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Ofen_Str-8_hebel {
    fill: none;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Ofen_Schub_cyr-8 {
    fill: white;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Schub_Oben_cyr-8 {
    fill: white;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Schub_Mitte_cyr-8 {
    fill: white;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.K_Schub_Unten_cyr-8 {
    fill: white;
    stroke-width: 0.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
}

.drehwand {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #000000;
    stroke-width: 0.5102;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    clip-path: url(#clip-path);
    transform-origin: 455.8px 407.28px;
}

.drehschrank {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #000000;
    stroke-width: 0.5102;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    transform-origin: 545.73px 505.05px;
}

.LA5 {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #000000;
    stroke-width: 0.085;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    transform-origin: 726.8px 522.78px;
}

.LA {
    clip-path: url(#SVGID_2_);
    stroke: #000000;
    transform-origin: 726.8px 522.78px;
}

.LD {
    clip-path: url(#SVGID_2_);
    stroke: #000000;
    transform-origin: 455.8px 407.28px;
}

.LA226 {
    stroke: #000000;
    stroke-width: 0.09px;
    fill: none
}

.LD5 {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #000000;
    stroke-width: 0.085;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    transform-origin: 455.8px 407.28px;
}

#sensorlist {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: inline-block;
    /* you wakannai */
    border: 1px solid black;
}

#sensorlist thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 6px 16px;
}

th {
    background: #eee;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}